In [17]:
import pandas as pd

#Load the countries.csv directly via URL import into your panda data frame
data = pd.read_csv('https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv')

In [18]:
#Display some basic information as rows, columns and some basic statistical info.
data.columns.tolist()

['Name', 'People', 'Area', 'BIP', 'Currency']

In [19]:
data.head()

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [20]:
data.mean()

C:\Users\Pia\AppData\Local\Temp\ipykernel_3412\531903386.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

People    102786293.6
Area        3907399.6
BIP            2716.2
dtype: float64

In [21]:
data.query('People == People.max()')

       Name     People     Area   BIP Currency
4  Brazilia  208360000  8515770  1798     REAL

In [22]:
data['BIP'].max()

4938

In [23]:
#Show the last 4 rows of the data frame.
data.iloc[-4:]

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [24]:
#Show all the row of countries who have the EURO
data.loc[data['Currency'] == 'EUR']

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

In [25]:
#Show only name and Currency in a new data frame
name_currency_df = data[['Name', 'Currency']].copy()
print(name_currency_df)

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

In [26]:
#Show only the rows/countries that have more than 2000 BIP 
#(it is in Milliarden USD Bruttoinlandsprodukt)

data.loc[data['BIP'] > 2000]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

In [27]:
#Select all countries where with inhabitants between 50 and 150 Mio

data[(data['People'].between(50000000, 150000000))]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

In [28]:
#Change BIP to Bip
data.rename(columns={'BIP': 'Bip'})
print(data)

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [29]:
#Calculate the Bip sum
data.rename(columns={'BIP': 'Bip'})['Bip'].sum()

13581

In [30]:
#Calculate the average people of all countries
data['People'].mean()

102786293.6

In [31]:
#Sort by name alphabetically
data = data.sort_values('Name', ascending=True)
print(data)

       Name     People     Area   BIP Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [32]:
#Create a new data frame from the original where the area is changed as follows: 
#all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

import numpy as np

new_data = data.copy()
new_data['Area'] = np.where(new_data['Area']>=1000000, 'BIG', 'SMALL')
print(new_data)

       Name     People   Area   BIP Currency
4  Brazilia  208360000    BIG  1798     REAL
2    Canada   36503097    BIG  1529      CAD
0   Germany   82521653  SMALL  3466      EUR
3     Italy   60501718  SMALL  1850      EUR
1     Japan  126045000  SMALL  4938      YEN